# Full Project Dependencies Overview (not for installation)

# main_app/requirements.txt
fastapi
uvicorn[standard]
requests
python-multipart
pandas
openpyxl
pydantic
python-Levenshtein

# ocr_paddle_service/requirements.txt
FastAPI
uvicorn[standard]


# ocr_trocr_service/requirements.txt
torch
transformers
FastAPI
uvicorn[standard]
