# Main FastAPI backend requirements
fastapi
uvicorn[standard]
requests
python-multipart
pandas
pydantic
requests

python-Levenshtein  # For fuzzy string matching

# Google API client libraries
google-api-python-client 
google-auth 
google-auth-oauthlib 
google-auth-httplib2
